* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

form {
  font-size: 1;
}

input, textarea, button, select, a {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  color: #e2d6c5;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("fonts/Inter-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/Inter-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Kodchasan";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/Kodchasan.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Chisel";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Chisel.ttf") format("truetype");
}
@font-face {
  font-family: "Memories";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Memories.ttf") format("truetype");
}
html, body {
  background: #181818;
}

body {
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  height: 100vh;
  overflow: overlay;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.wrapper::-webkit-scrollbar {
  width: 0px;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.hero {
  height: 100vh;
  width: 100vw;
  padding: 128px 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hero__title {
  white-space: nowrap;
}
.hero__title h1 {
  font-size: 100px;
  line-height: 80px;
  letter-spacing: 0.2px;
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #e2d6c5, 0 -10px 20px #e2d6c5;
}
.hero__title h2 {
  margin: 24px 0 0;
  font-size: 34px;
  font-family: none;
  line-height: 38px;
  letter-spacing: 0.2px;
}

.hero__control {
  margin: 37px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 35px;
}

.hero__btn {
  padding: 20px 40px;
}
.hero__btn svg {
  margin: 0 0 0 8px;
}

.offer_btn {
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.2px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #e2d6c5;
}

@media (max-width: 1024px) {
  .hero__title h1 {
    font-size: 52px;
    line-height: 62px;
  }
  .hero__title h2 {
    margin: 8px 0 0;
    font-size: 20px;
    line-height: 24px;
  }
  .hero__control {
    margin: 37px 0 0;
    gap: 21px;
  }
  .hero__btn {
    font-size: 17px;
    line-height: 25px;
  }
}
.logo_clouds {
  padding: 48px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 80px;
}
.logo_clouds .uno {
  font-family: "Kodchasan";
}
.logo_clouds .elpaza {
  font-family: "Chisel";
  letter-spacing: 4px;
}
.logo_clouds .luxio {
  font-family: "Memories";
  letter-spacing: 1px;
}

.logo__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.logo__name {
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .logo_clouds {
    padding: 48px 16px;
  }
}
.services {
  padding: 80px;
  margin: 150px 0 0;
}

.services__title {
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  text-align: center;
}

.services__body {
  margin: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 48px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  white-space: nowrap;
}

.services__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__name {
  margin: 16px 0 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.1px;
}

.offer {
  padding: 80px;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 33px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(62, 45, 63, 0.7)), to(rgba(141, 100, 92, 0.7)));
  background: linear-gradient(180deg, rgba(62, 45, 63, 0.7) 0%, rgba(141, 100, 92, 0.7) 100%);
}

.offer__title {
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
}

.offer__btn {
  margin: 37px 0 0;
  padding: 20px 67px;
}

.connect {
  min-height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 80px;
}

.connect__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.connect__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.connect__img {
  height: 24px;
  width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connect__caption {
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.2px;
  border-bottom: 1px solid #e2d6c5;
  white-space: nowrap;
}

@media (max-width: 1024px) {
  .connect__title {
    font-size: 48px;
    line-height: 53px;
  }
  .connect__subtitle {
    font-size: 24px;
    line-height: 34px;
  }
}
@media (max-width: 1024px) {
  .hero {
    padding: 96px 16px 0;
  }
  .logo_clouds {
    padding: 48px 16px;
  }
  .services {
    padding: 48px 16px;
  }
  .offer {
    padding: 48px 16px;
  }
  .connect {
    padding: 48px 16px;
  }
}